body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    padding: 60px;
    text-align: center;
    background: white;
    color:  black;
    font-size: 30px;
}

.imagenHeader {
    width: 231px;
}

#button {
    padding: 0px;
    text-align: center;
}

#button li {
    display: inline;
    }

#li-button {
    margin-right: 20px;
}

.seccion1-div_1 {
    padding: 10px;
    background-color: #151515;
}

.thebeatlespresentacion {
    padding: 10px;
    width: 700px;
    height: 450px;
}

.span-seccion1_1957 {
    font-size: 100px;
    margin: 10px;
}

.span-seccion1_1957-txt {
    font-size: 60px;
    margin-left: 10px;
}


.johnlennon1957img {
    margin: 13px;
    width: 700px;
    height: 450px;
    float: right;
}

.seccion1-div_2 {
    margin-top: 10px;
    padding: 10px;
    height: 1500px;
    background-color: #151515;
  }

.p-seccion1_1957-johnlennon {
    font-size: 17px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.h2-seccion1_1957-johnlennon {
    margin: 10px;
}


.datocurioso-seccion1_1957-johnlennon {
    background-color: #000;
    margin: 20px;
    margin-top: 150px;
}

.h1_datocurioso-seccion1_1957-johnlennon {
    margin: 30px;
    font-size: 50px;
}

.p_datocurioso-seccion1_1957-johnlennon {
    margin: 30px;
}