body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    padding: 60px;
    text-align: center;
    background: white;
    color:  black;
    font-size: 30px;
}

.imagenHeader {
    width: 231px;
}

#button {
    padding: 0px;
    text-align: center;
}

#button li {
    display: inline;
    }

#li-button {
    margin-right: 20px;
}

.seccion1-div_1 {
    background-color: #151515;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.thebeatlespresentacion {
    padding: 10px;
    width: 1870px;
    height: 700px;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.seccion1-presentacion-div_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1-presentacion {
    font-size: 40px;
}

/*Aqui probare con animaciones para la imagen de presentacion (.thebeatlespresentacion)*/
.seccion1-div_1 figure {
    position: relative;
    overflow: hidden;
}

.seccion1-div_1 figure:hover > .capa {
    visibility: visible;
}

.seccion1-div_1 figure img {
    transition: all 300ms ease-out;
}

.seccion1-div_1 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-out;
    visibility: hidden;
}

.thebeatlespresentacion:hover {
    opacity: 60%;
}

figure {
    margin: 0px;
    padding: 0px;
}
/*Cierre*/


.span-seccion1_1957 {
    font-size: 100px;
    margin: 10px;
}

.span-seccion1_1957-txt {
    font-size: 60px;
    margin-left: 10px;
}


.johnlennon1957img {
    margin: 13px;
    width: 700px;
    height: 450px;
    float: right;
}

.seccion1-div_2 {
    margin-top: 10px;
    padding: 10px;
    height: 1500px;
    background-color: #151515;
  }

.p-seccion1_1957-johnlennon {
    font-size: 17px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.h2-seccion1_1957-johnlennon {
    margin: 10px;
}
